*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .container1,
section .container2 {
  background-image: url("../images/bg3-8907ec01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}