header nav h1 {
  background-color: #0099cc;
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.content1 {
  width: 300px;
  height: 300px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition-duration: 3s;
}
.content1 img {
  width: 100%;
  transition-duration: 3s;
  transition-delay: 1.5s;
}
.content1 .info {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 153, 204, 0);
  color: white;
  height: 100%;
  text-align: center;
  overflow: hidden;
  transition-duration: 1.5s;
}
.content1 .info h2 {
  background-color: #2a3f55;
  padding: 15px;
  transform: translatex(100%);
  font-size: 30px;
}
.content1 .info p {
  margin: 20px 0;
  line-height: 2;
  transform: translatex(100%);
}

.content1:hover img {
  transform: scale(1.3);
}
.content1:hover .info {
  transform: rotate(360deg);
  background-color: rgba(0, 153, 204, 0.3);
  transition-delay: 0.5s;
}
.content1:hover .info h2,
.content1:hover .info p {
  transform: translatex(0);
  transition-duration: 2.2s;
}
.content1:hover .info h2 {
  transition-delay: 2.3s;
}
.content1:hover .info p {
  transition-delay: 3s;
}
/*//////////////////////////////////////////////*/
section nav h1 {
  background-color: #0099cc;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
}
.content2 {
  width: 300px;
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.content2 .front img {
  width: 100%;
  height: 100%;
}
.front {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  z-index: 1;
}
.content2:hover .front {
  transform: rotatey(180deg);
}
.front,
.back {
  transition-duration: 2s;
}
.back {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotatey(180deg);
  overflow: hidden;
}
.content2:hover .back {
  transform: rotatey(0deg);
}
.color {
  width: 0;
  height: 0;
  background-color: #697888;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content2:hover .back .color {
  width: 110%;
  height: 110%;
  border-radius: 60px;
  transition-duration: 2.5s;
  transition-delay: 1s;
}
.back .info {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
}
.content2 .info h2 {
  background-color: #2a3f55;
  padding: 15px;
  transform: translatex(100%);
  font-size: 30px;
}
.content2 .info > p {
  margin: 20px 0;
  line-height: 2;
  transform: translatex(100%);
}
.content2:hover .info h2,
.content2:hover .info > p {
  transform: translatex(0);
  transition-duration: 2.2s;
}
.content2:hover .info h2 {
  transition-delay: 3.5s;
}
.content2:hover .info > p {
  transition-delay: 4s;
}

.boxes {
  color: black;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.boxes h3 {
  width: 100%;
  text-align: center;
  color: #00ff00;
  transform: scale(0);
  margin-bottom: 10px;
}
.boxes .box {
  width: 35%;
  margin: auto;
  padding: 5px;
  color: white;
  background-color: #00ff00;
  margin-bottom: 10px;
  transform: scale(0);
}
.content2:hover .boxes h3 {
  transform: scale(1);
  transition-delay: 5.5s;
  transition-duration: 1s;
}
.content2:hover .boxes .box {
  transition-duration: 1s;
}
.content2:hover .boxes .box:nth-of-type(1) {
  transform: scale(1);
  transition-delay: 6s;
}
.content2:hover .boxes .box:nth-of-type(2) {
  transform: scale(1);
  transition-delay: 6.1s;
}
.content2:hover .boxes .box:nth-of-type(3) {
  transform: scale(1);
  transition-delay: 6.2s;
}
.content2:hover .boxes .box:nth-of-type(4) {
  transform: scale(1);
  transition-delay: 6.3s;
}
